{% extends 'base.html' %}
{% load static %}

{% block title %}{{ post.title }}{% endblock title %}

{% block content %}
<h1>{{ post.title }}</h1>
<h3>{{ post.subtitle }}</h3>
<small> Created on: {{ post.created_on }}</small>
<p>{{ post.body }}</p>
{% if user == post.author %}
<a  href="{% url 'edit' post.id %}">Delete</a>
<a  href="{% url 'delete' post.id %}">Edit</a>
{% endif %}
{% endblock content %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'admin/css/mystyle.css' %}">
{% endblock %}