{% load i18n %}{% autoescape off %}
{% blocktranslate %}You have recently attempted to reset your email/password at {{ site_name }},if this is not true ignore this email.{% endblocktranslate %}

{% translate "Please proceed to the following page and reset a new password/email:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate 'Password/email has been reset for the following account:' %} {{ user.get_username }}

{% translate "Thank you  for using our site and we look forward to your demise!" %}

{% blocktranslate %}The {{ site_name }} cult{% endblocktranslate %}

{% endautoescape %}