
{% extends 'base.html' %}
{% load static %}


{% block title %}Home page{% endblock title %}

{% block content %}
<h1 class="title">Welcome to the brotherhood, down with heresy! Deus Vult!</h1>
<p>Have you ever felt without cause? Perhaps in need of new adventure? Look no forward than the Black Knight templars!
</p>
 <p>Join our community blog and see what others have to say about everything Black Knight Templars!</p>
<p>If you like to know more click <a href="{% url 'about' %}"> here.</a></p>
<img src="{% static 'admin/img/knight1.webp' %}" alt="Knight 1"><h1 class="title2">Ensure your soul gets to heaven!</h1>
<img src="{% static 'admin/img/knight2.jpg' %}" alt="Knight 2"><h1 class="title2">Make new friends!</h1>
<img src="{% static 'admin/img/knight3.jpg' %}" alt="Knight 3"><h1 class="title2">Free Pizza!</h1>
{% endblock content %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'admin/css/mystyle.css' %}">
{% endblock %}