
h1 {
    color: white; 
}
.title2 {
    color: red; 
}

p {
    color: red;
}
body {
    background-color: black;
}
img {
    border: 2px solid red; 
    display: block;
    margin: 20px auto;
    margin-bottom: 20px;
}

img:first-child {
    float: left; 
    margin-right: 10px; 
}
.card-body{
    background-color: black;
    border: solid red;
}
.card-title{
    color: white;
    padding: 5px;
}
.card-subtitle{
    color: white;
    padding: 5px;
}
footer {
    position:relative;
    bottom: 0; 
    width: 100%; 
    height: 50px;
}
.fixed {
    border: 2px solid red; 
    max-width: 100%;
    display: block;
    margin: 10px auto; 
    display: flex;
    justify-content: center;
    align-items: center;
}